@using EdpsProjectManagement.Web.HtmlExtensions
@using EdpsProjectManagement.Web.Models
<!--add customized code between this region--><!--add customized code between this region-->@model SearchModel<div class="search-container">
    @using (Html.BeginForm("Search", "Iteration", FormMethod.Post, new {data_ajax = "true", data_ajax_method = "POST", data_ajax_mode = "replace", data_ajax_update = "#Iteration_DataList", name = "Iteration_Search", id = "Name_Search"}))
    {
        @Html.AntiForgeryToken()
        @Html.TextBoxFor(m => m.Name, new {@class = "form-control", placeholder ="Name"})
        @Html.HiddenFor(m => m.Pager.PageSize)

        <input class="m_btn" type="submit" value="Search"/>
    }
</div>
