@using MetaShare.Common.Core.Presentation
@using EdpsProjectManagement.Entities
@using EdpsProjectManagement.Web.HtmlExtensions
@using EdpsProjectManagement.Web.Models
<!--add customized code between this region--><!--add customized code between this region-->
@model IndexViewModel<EdpsProjectManagement.Entities.BusinessEntities.Iteration>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m_title_box">
    <ol>
        <li data-id="Index">
            <a href="#">Iteration</a><i class="icon-arrowright"></i>
        </li>
        <li data-id="Index">Index</li>
    </ol>
    <div class="m_title_action">
        <a class="m_btn" href="@(this.Url.Action("Create", "Iteration", null))">New</a>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Iteration</div>
    <div class="panel-body">
            @Html.Partial(Url.Content("../BusinessEntities/Iteration/_Search"), Model.SearchModel)
    <div class="table-responsive" id="Iteration_DataList">
            @Html.Partial(Url.Content("../BusinessEntities/Iteration/_DataList"), Model)
    </div>
    </div>
</div>
@this.Html.Partial("_DeleteDialog")
